<%layout('layouts/boilerplate')%>
  <main id="about-me" class="bg-light py-5">
    <div class="container">
      <h2 class="text-center font-weight-bold mb-5">About Me</h2>
      <div class="row">
        <div class="col-md-4 text-center">
          <img
            src="https://scontent.fktm19-1.fna.fbcdn.net/v/t1.6435-9/124957990_1100582800355367_3365807557915644417_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ad2b24&_nc_ohc=G3QE0kwvXAgAX_24nxb&_nc_ht=scontent.fktm19-1.fna&oh=00_AfDj4EzMKLFTeodI5xld2MLo8zRCT46NpE51nis9oooKOw&oe=63CD11C5"
            alt="Profile Picture" class="rounded-circle img-fluid mb-3">
        </div>
        <div class="col-md-8">
          <p class="lead mb-5">Hi, my name is Anish Joshi, and I am a computer engineer with a strong passion for
            building innovative and user-friendly web applications. With 3 years of experience in the field, I have
            developed a diverse set of skills in HTML, CSS, JavaScript, C, C++, Python, MongoDB, and MySQL, allowing me
            to tackle a wide range of projects and find creative solutions to complex problems.</p>
          <a href="resume.pdf" class="btn btn-primary btn-lg" download>Download Resume</a>
        </div>
      </div>
    </div>
  </main>